<div *ngIf="isLoading" class="loading-wrapper">
  <mat-spinner diameter="36"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div echarts [options]="chartOptions" class="chart"></div>

  <table mat-table [dataSource]="data" class="mat-elevation-z2 table">
    <ng-container matColumnDef="epicKey">
      <th mat-header-cell *matHeaderCellDef>Epic</th>
      <td mat-cell *matCellDef="let row">{{ row.epicKey }}</td>
    </ng-container>

    <ng-container matColumnDef="epicSummary">
      <th mat-header-cell *matHeaderCellDef>Résumé</th>
      <td mat-cell *matCellDef="let row">{{ row.epicSummary }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let row">{{ row.status }}</td>
    </ng-container>

    <ng-container matColumnDef="versions">
      <th mat-header-cell *matHeaderCellDef>Versions livrées</th>
      <td mat-cell *matCellDef="let row">{{ formatVersions(row) }}</td>
    </ng-container>

    <ng-container matColumnDef="sprints">
      <th mat-header-cell *matHeaderCellDef>Sprints</th>
      <td mat-cell *matCellDef="let row">{{ formatSprints(row) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
