<div *ngIf="isLoading" class="loading-wrapper">
  <mat-spinner diameter="36"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div echarts [options]="chartOptions" class="chart"></div>

  <table mat-table [dataSource]="data" class="mat-elevation-z2 table">
    <ng-container matColumnDef="sprintName">
      <th mat-header-cell *matHeaderCellDef>Sprint</th>
      <td mat-cell *matCellDef="let row">{{ row.sprintName }}</td>
    </ng-container>

    <ng-container matColumnDef="versionName">
      <th mat-header-cell *matHeaderCellDef>Version</th>
      <td mat-cell *matCellDef="let row">{{ row.versionName }}</td>
    </ng-container>

    <ng-container matColumnDef="epicCount">
      <th mat-header-cell *matHeaderCellDef>Nb épics</th>
      <td mat-cell *matCellDef="let row">{{ row.epicCount }}</td>
    </ng-container>

    <ng-container matColumnDef="totalDurationDays">
      <th mat-header-cell *matHeaderCellDef>Durée totale (j)</th>
      <td mat-cell *matCellDef="let row">{{ row.totalDurationDays }}</td>
    </ng-container>

    <ng-container matColumnDef="averageDurationDays">
      <th mat-header-cell *matHeaderCellDef>Durée moyenne (j)</th>
      <td mat-cell *matCellDef="let row">{{ row.averageDurationDays }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
